div#drawing
	- if(host){
	h1.center What answer do you think is right?
	
	img(width="400px", height="400px", src="#{src}").center
	- } else {
	
	- if(owner){
	
	h1.center You drew this! wait for everyone else
	
	- } else {
	
	div#drawAnswer
		- for(var i = 0; i < data.answers.length; i++) {
			button(val="#{i}").mdc-button.mdc-button--raised.mdc-button--accent.fullWidth.buttons #{data.answers[i]}
		- }
	
	-}
	-}
	
	div#countdown-bar-bg
		div#countdown-bar
		p#countdown-text Waiting for players