div#drawing
	- if(host){
	ul.mdc-list.mdc-list--two-line
		- for(var i = 0; i < players.length; i++){
		
		li.mdc-list-item
			span.mdc-list-item__text #{players[i].name}
			
			span.mdc-list-item__end-detail #{players[i].gameScore}
		
		li.mdc-list-divider(role="seperator")
	
	- } else {
	h1.center Game over! returning to lobby soon
	- }