- if(host){
h1 Waiting for everyone to answer
- } else {

- if(owner){

h1.center You drew this! wait for everyone else

- } else {

img(width="400px", height="400px", src="#{src}")

h4.center What do you think this is?

input(type="text")#drawAnswer
button#drawAnswerSend Send 

-}
-}