doctype html
html
  head
    title= title
    
    link(rel='stylesheet', href='/stylesheets/pure.css')
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='https://unpkg.com/purecss@0.6.2/build/grids-responsive-min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    script(src="https://cdn.socket.io/socket.io-1.4.5.js")
    script(src="/javascripts/game.js")
    script(src="/javascripts/canvasDraw.js")
    
    meta(name="viewport", content="width=device-width, initial-scale=1")
  
  div#countdown-bar-bg.hide
    div#countdown-bar
    
    p#countdown-text Starting in %s
      
  body
  
    nav
      div.home-menu.pure-menu.pure-menu-horizontal.pure-menu-fixed
        a.pure-menu-heading Party Game System
    
    div#content     
      block content