html{
	overflow-x: hidden;
}

body {
	position: relative;
	line-height: 1.6;
	padding: 0;
	margin: 0;
	background: #263238;
	padding-top: 20px;
}

.KSPPcontent{
	min-height: 50px;
	background: white;
	margin: auto;
	background: #F5F5F6;
	max-width: 1200px;
}

.loginForm{
	margin: auto;
	max-width: 300px;
	padding-top: 20px;
	padding-bottom: 40px;
}

#KSPPHeader{
	height: 50px;
	width: 100%;
	background: #4f5b62;
}

#KSPPfoot{
	height: 50px;
	width: 100%;
	background: #4f5b62;
}

.noPad{
	padding: 0;
	margin: 0;
}

.mdc-card {
	background: white;
}

.mdc-card__media {
  background-image: url("default.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 7rem;
}

#drawCanvas{
	margin: auto;
	border: solid black 2px;
}

.fixWidth{
	width: 50%;
	letter-spacing: normal;
}

/* Trivia */

.trivia-score-box {
	display: inline-block;
	width: 25%;
	border-radius: 5px;
}

.correct {
	border: 1px solid green;
    box-shadow: 1px 1px 5px 0px rgba(0, 255, 0, 1);
}

.wrong {
	border: 1px solid red;
}

/**/
.fullWidth {
	width: 100%;
}

.hide {
	display: none;
}

.button-success {
	background: rgb(28, 184, 65); /* this is a green */
	color: white;
}

.button-error {
	background: rgb(202, 60, 60); /* this is a maroon */
	color: white;
}

.button-secondary {
	background: rgb(66, 184, 221); /* this is a light blue */
	color: white;
}

h1, h2, h3, h4, h5, h6, label {
	color: #34495e;
}

.pure-form label {
	margin: 1em 0 0;
	font-weight: bold;
	font-size: 100%;
}

/* Lobby */

#lobby-players {
	list-style: none;
	text-align: right;
}

#lobby-players li {
	list-style: none;
	margin-bottom: 5px;
}

.text-right {
	text-align: right;
}

#lobby-players li .lobby-players-name {
	font-size: 20px;
	font-weight: bold;
	line-height: 13px;
	padding: 0;
	margin: 0;
}

#lobby-players li .lobby-players-score {
	font-size: 15px;
	padding: 0;
	margin: 0;
}



#joinCreate {
	margin: auto;
	width: 800px;
}

#countdown-bar-bg {
	background: black;
	width: 100%;
	height: 25px;
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 997;
}

#countdown-bar {
	background: cyan;
	width: 50%;
	height: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 998;
}

#countdown-bar-bg p {
	text-align: center;
	color: white;
	font-size: 15px;
	font-weight: bold;
	line-height: 0px;
	z-index: 1000;
	position: relative;
}

a {
	color: #00B7FF;
}

li.answer {
	list-style: none;
	margin-bottom: 5px;
}

li.answer button {
	color: white;
}

.center {
	text-align: center;
}

#gameChoice li{
	text-decoration: underline;
	font-weight: 600;
}

